.tit-1 {
    color:crimson;
}
.tit-2{
    color: crimson;
}
.it-1{
    color:cadetblue
}
.it-2{
    color: cadetblue;
}
.it-3{
    color: cadetblue;
}
.botao-1{
    background-color: bisque;
}
.botao-2{
    background-color: bisque;
}